<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Safety Way</h1>
    <p class="lead">The safe way is the only way</p>


  <!--    <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ $ctrl.accidents[0].coords[0] }},{{ $ctrl.accidents[0].coords[1] }}&amp;zoom=17&amp;SATELLITE&amp;size=400x350&amp;sensor=false&amp;markers={{ $ctrl.accidents[0].coords[0] }},{{ $ctrl.accidents[0].coords[1] }}&amp;scale=2" class="img-responsive img-rounded">
-->
  </div>
</header>

<div class="container">

  <div class="row">
    <div class="col-lg-12">
      <br/>
      <label for="filter">Filter results</label>
      <input id="filter" type="text", name="filter", ng-model="textFilter">
<br/>
      <h1 class="page-header">Accidents:</h1>
      <ul  class="nav nav-tabs nav-stacked "
      dir-paginate="accident in $ctrl.accidents | filter : textFilter | orderBy:'createdOn':true | itemsPerPage:5"
      >
        <li>
          <a href="/#/accidents/{{ accident._id }}">
            <h4>{{accident.name}} </h4>
            <p style="color: black">
              {{accident.address}} : {{accident.createdOn | date : 'd MMMM yyyy h:mm a' }}
            </p>
          </a>
        </li>
      </ul>
    </div>

    <!-- <div class="col-xs-12 col-sm-8">
      <br/>
      <label for="filter">Filter results</label>
      <input id="filter" type="text", name="filter", ng-model="textFilter">

      <br><br>
      <div class="row list-group">
        <div class="nav nav-tabs nav-stacked col-xs-12 list-group-item" ng-repeat="accidents in $ctrl.accidents | filter : textFilter">
          <h4>
            <a href="/#/accidents/{{ accidents._id }}">{{ accidents.name }}</a>

          </h4>
          <p class="address">{{ accidents.address }}</p>
        </div>
      </div>
    </div> -->
    <dir-pagination-controls max-size="5" direction-links="true"></dir-pagination-controls>
  </div>

</div>


